<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/main.css">

    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <header class="header-main">
        <section class="header-box">
            <h1 class="current-page">Liability Types</h1>
            <p class="user-role-display">Logged In As: <span class="user-role">Admin</span></p>
        </section>
    </header>
    <main>
        <aside class="nav-sidebar">
            <ul>
                <li><button onclick="window.location.href = 'index'">Home</button></li>
                <li><button onclick="window.location.href = 'about'">About Us</button></li>
                <li><button onclick="window.location.href = 'contact'">Contact</button></li>
                <li><button onclick="window.location.href = 'assets'">Assets</button></li>
                <li><button onclick="window.location.href = 'assettypes'">Asset Types</button></li>
                <li><button onclick="window.location.href = 'liabilities'">Liability</button></li>
                <li><button onclick="window.location.href = 'liabilitytypes'">Liability Types</button></li>
            </ul>
        </aside>

        <nav class="user-control-navbar">
            <button>Logout</button>
            <button>Setup</button>
        </nav>

        <section class="page-content">
            <script>
                function selectLiabilityType(button) {
                    //const row = button.closest('tr');
                    const liabilityTypeID = button.getAttribute("data-LiabilityTypeID");
                    const name = button.getAttribute("data-Name");
                    const description = button.getAttribute("data-Description");
        
                    document.getElementById('hiddenLiabilityTypeID').value = liabilityTypeID;
                    document.getElementById('editName').value = name;
                    document.getElementById('editDescription').value = description;
                }
        
                function saveChanges() {
                    const selectedForm = document.getElementById("editForm");
        
                    const fd = new FormData(selectedForm);
                    const urlEncoded = new URLSearchParams(fd).toString();
        
                    fetch('/liabilitytypes/update', { 
                        method: "POST", 
                        body: urlEncoded, 
                        headers: { 
                            'content-type': 'application/x-www-form-urlencoded' ,
                        }
                    }).then(() => {
                            window.location.reload();
                        });
                }
        
                function DeleteData() {
                    const selectedForm = document.getElementById("editForm");
        
                    const fd = new FormData(selectedForm);
                    const urlEncoded = new URLSearchParams(fd).toString();
        
                    fetch('/liabilitytypes/delete', { 
                        method: "POST", 
                        body: urlEncoded, 
                        headers: { 
                            'content-type': 'application/x-www-form-urlencoded' ,
                        }
                    }).then(() => {
                            window.location.reload();
                        });
                }
        
                function resetFields(){
                        document.getElementById('hiddenLiabilityTypeID').value = "";
                        document.getElementById('editName').value = "";
                        document.getElementById('editDescription').value = "";
                    }
            </script>

            <table>
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% liabilitytypes.forEach(liabilitytype => { %>
                    <tr>
                        <td><button 
                                type="button" 
                                data-LiabilityTypeID="<%= liabilitytype.LiabilityTypeID %>" 
                                data-Name="<%= liabilitytype.Name %>"
                                data-Description="<%= liabilitytype.Description %>"
                                class="select-btn" 
                                onclick="selectLiabilityType(this);">Select</button>
                        </td>
                        <td><%= liabilitytype.Name %></td>
                        <td><%= liabilitytype.Description %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>

            <!-- Form for editing the selected row -->
            <div class="form-container">
                <h2>Edit Selected Liability Type</h2>
                <form id="editForm">
                    <input type="hidden" id="hiddenLiabilityTypeID" name="hiddenLiabilityTypeID">

                    <label for="editName">Name</label>
                    <input type="text" id="editName" name="editName" placeholder="Enter name">

                    <label for="editDescription">Description</label>
                    <input type="text" id="editDescription" name="editDescription" placeholder="Enter description">

                    <div class="button-container">
                        <button type="button" onclick="saveChanges()">Save Changes</button>
                        <button type="button" onclick="resetFields()">Clear</button>
                        <button type="button" onclick="DeleteData()">Delete</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>